h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
    text-align: center;
}

.buttons {
    margin-bottom: 0 !important;
}

.floater {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -2px rgba(0, 0, 0, 0.03);
    border-radius: 2rem;
    margin: .8rem;
    border: 1px solid rgb(223, 222, 222);
    padding: 2rem;
}

.button-container {
    margin: .8rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.color1 {
    background-color: #d1ecf1;
}

.floaterfooter {
    background-color: white;
    border-top: 1px solid rgb(223, 222, 222);
    padding: 2rem;
}

iframe {
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.clicker:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}

.clicker:focus {
    outline: none;
}

.clicker {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -2px rgba(0, 0, 0, 0.03);
    background-color: white;
    border: 1px solid rgb(223, 222, 222);
    color: #007bff;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    margin-left: 0;
    margin-top: 0 !important;
    margin-bottom: 0;
    transition: box-shadow 0.3s ease-in-out;
}

.field {
    width: 100%;
    text-align: left;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid rgb(223, 222, 222);
}

.field:focus {
    outline: none;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    max-width: 80%;
}

.fullwidth {
    width: 100%;
}

.bigButtonHolder {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #007bff, #61aeff);
    padding: 1.5rem;
    transition: box-shadow 0.3s ease-in-out;
    border: none;
    cursor: pointer;
}

.bigButtonHolder.yellow {
    background-image: linear-gradient(to bottom right, #ffc107, #f7d56f);
}

.bigButtonHolder.green {
    background-image: linear-gradient(to bottom right, #28a745, #7bff8f);
}

.bigButtonHolder:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}

.bigButton {
    margin: 0;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background: none;
    border: none;
}

.smallPage {
    margin-top: 1em !important;
}

.looseText {
    text-align: center;
}

.looseText.top {
    margin-top: 1em;
}

.myTableOuter {
    overflow-y: auto;
    padding: 0;
}

.myTable {
    margin: 0;
    border: none;
}

.space {
    margin: 3rem;
}

.top-row {
    padding-top: 1em !important;
}

.left-col {
    padding-left: 1em !important;
    border-left: none !important;
}

.right-col {
    border-right: none !important;
    padding-right: 1em !important;
}

.bottom-row {
    border-bottom: none !important;
}

.top-row {
    border-top: none !important;
}

.bottom-row {
    border-bottom: none !important;
    padding-bottom: 1em !important;
}

.highlight {
    background-color: #acd4ff; /* Change this to your preferred highlight color */
    transition: background-color 0.4s ease-in-out;
}

td, th {
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
}

.tableSelectorCell {
    padding: 1em 1em !important;
    text-align: center;
}

.noClicker {
    cursor: default !important;
}

.tableSelector {
    border: none;
    cursor: pointer;
}

.tableSelector:focus {
    border: none;
    outline: none;
}

.selected {
    color: #007bff;
}

.mid-col:not(.right-col):not(.left-col) {
    border-right: none;
    border-left: none;
}

.right-col.noBorderSide {
    border-left: none;
}

.left-col.noBorderSide {
    border-right: none;
}

.hidden {
    display: none;
}

.verticalCenter {
    vertical-align: middle !important;
}

.sideBySide {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bigButtonHolder.fill {
    margin: 0;
    flex-grow: 1;
}

.bigButtonHolder.fill.bottom {
    margin-top: 1em;
}